body {
    background-repeat: repeat;
}

marquee img {
	width: 1161px;
	height: 256px;
}

img.mountain {
	width: 0px;
	height: 0px;
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 3;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

img.bigcard {
	width: 300px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 3;
}

img.bigcard:hover {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
	
}

img.bigcard:hover + img.mountain {
	width: 300px;
	height: 400px;
	-webkit-transition: width 2s;
	transition: width 2s;
}

img.mountain:hover {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

p {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
	font-size: 80px;
	font-style: bold;
	color: red;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}